@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Oswald|Pacifico|Work+Sans');
body, html {
  height: 100vh;
}


p {
  font-family: 'Oswald', sans-serif;
}

.padding_4ems {
  padding-top: .4em;
}
.nav-wrapper {
  /* padding-left: 20%;
  padding-right: 20%; */
  background: #E16860;
}


.hero_image {
  background: #F4F2F2;
  padding-bottom:5vh;
}

.woco_logo {
  max-height: -webkit-fill-available;
}

.nav_links {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

.background {
  /* background-image: url('Heart Frame.H03.2k.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
}

.hero_logo {
  max-height: 200px;
}

.tagline_font {
  font-family: 'Pacifico', cursive;
  color: #E16860 !important;
  font-size: 2em;
}

.tagline_font2 {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 1.5em;
  text-align: center;
}
.center_text {
  text-align: center;
}

.add_padding_top {
  padding-top:5vh;
  margin-bottom: 0
}

/* .full_height {
  height: 44.9vh;
} */

.my_red {
  /* background-color: #E16860 !important; */
  background-color: #E16860 !important;
  color: black !important;
  font-family: 'Oswald', sans-serif;
  font-style: bold;

}

.lets {
  background: #E16860;
  font-family: 'Oswald', sans-serif;
  font-style: bold;
}
.my_gray {
  background-color: white;
}

.gray_image {
  background-image:url('womanInMountains-compressor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid2 {
  display: grid;
  align-items: center;
  justify-content: left;
}

/* height for svg graphics */
.height_300 {
  height: 300px;
}
.height_200 {
  height: 200px;
}
.center_grid {
  display: grid;
  justify-content: center;
  align-items: center;
}

.vertical_align {
  display: grid;
  align-items: center;
}

.para_content {
  font-size: 1.5em;
  margin-bottom: 3.9em;
  padding-top: 2.4em;
  padding-right:5em;
}

/* footer css */

.color {
  background: #F4F2F2;
}

.white {
  color: white;
}
.footer_color {
  color: black;
  height: 64px;
}

.black_text {
  color: #232122;
}

/* footer ends here   */

.divider {
  height: 2px !important;
  color: #E16860 !important;
}

@-webkit-keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.tcon-svgchevron {
  height: 40px;
  width: 40px; }

.tcon-svgchevron path {
  -webkit-animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: #E16860;
  stroke-width: 1px; }

.tcon-svgchevron path.a1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.tcon-svgchevron path.a2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.tcon-svgchevron path.a3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

/* ===================== this is the bolog new css */

.blog_sub_header {
  font-family: 'Work Sans', sans-serif;
}

.background_black {
  background-color: black;
}
